*{
    margin: 0;
    padding-block-end: 0;
}
body{
    background: linear-gradient( white, rgb(124, 124, 124));
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
    border-bottom-style: groove;
}
header{
    height: 10vh;
}
.title{
    display: flex;
    justify-content: space-around;
}
#title{
    font-size: 25px;
}
.menu li a{
    display: block;
    border: 2px outset rgb(63, 240, 240);
    border-radius: 20px;
    background-color: rgb(151, 145, 145);
    width: 150px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    color: black;  
}
.menu li a:hover{
    background-color: lightblue;
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    margin: 10px;  
}
footer{
    display: flex;
    border-top-style: groove;
    margin-top: 10px;
    justify-content: space-around;
}
#copyright{
    width: 30px;
    height: 30px;
    margin-left: 90px;
    margin-top: 10px;
}
.logo{
    display: flex;
    margin-left: 900px;
}
#logo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
#intro{
    align-items: center;
    width: 50%;
}
#collection{
    width: 50%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#stamped{
    width: 200px;
    border-bottom-style: solid;
}
.products{
    border-style: solid;
    background-color: white;
}
.store{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.item{
    border-style: solid;
}
#basket{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}